<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<%= @results %>
<ul>
    <% @found.each do |chapter, idx| %>
      <li>
        <%= chapter %>
      </li>
      <ul>
          <% in_paragraphs(File.read("data/chp#{idx + 1}.txt")).each do |p| %>
            <% if p.include?(@search_text) %>
              <li>
                <a href="/chapters/<%= idx + 1 %>#p-<%= idx + 1 %>"><%= highlight_text(p, @search_text) %></a>
              </li>
            <% end %>
          <% end %>
      </ul>
    <% end %>
    
</ul>